body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}
.conteiner {
  height: 1360px;
  width: 375px;
  background-color: #fafafa;
}
h1 {
  font-size: 24px;
  letter-spacing: 0.1666666716337204px;
  text-align: center;
  color: #4d4f62;
  margin: 85px 30px 0px 30px;
  line-height: 40px;
  font-weight: 275;
}
h1 span {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1666666716337204px;
}
p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1041666641831398px;
  text-align: center;
  opacity: 50%;
  margin: 13px 30px;
  line-height: 25px;
}
.card {
  height: 222px;
  width: 311px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  align-items: center;
  margin: auto;
}
.card h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  margin: 27px;
}
.card p {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.0902777761220932px;
  text-align: left;
}
.card img {
  width: 57px;
  height: 57px;
  padding: 0 28px 28px 226px;
}
.back{
  width: 311px;
  height: 4px;
  border-radius: 8px 8px 0 0 ;
}
.sup{
  background-color: aqua;
}
.team{
  background-color: #EA5454;
}
.karma{
  background-color: #FCAE4A;
}
.calc{
  background-color: #549EF2;
}

.two-elements{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.four-card{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 600px) {
  .conteiner {
    height: 922px;
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 36px;
  }
  span{
    font-size: 36px;
  }
  p{
    font-size: 15px;
  }
  .four-card{
    display: flex;
    flex-direction: row;
  }

}